* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.nav {
    background-color: lightblue;
    height: 5vh;
    margin-bottom: 20px;
}

.main-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.list-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.list-container ul {
    width: 30%;
}

.list-container ul li {
    display: flex;
    flex-direction: column;
}

.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}